@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

body {
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden;
  transition: all .2s ease-in-out;
}

.section {
  position: relative;
  height: 100vh;
}

.img-responsive {
  max-width: 100%;
}

/* --------------Navbar---------------- */

.navbar .logo {
  width: 64.37px;
  height: 64.35px;
  margin-left: 48.07px;
}

.navbar-nav .nav-item {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2em;
  padding: 15px 5px !important;
  color: #000000 !important;
}

.navbar-nav .nav-item a {
  color: #000000 !important;
}

.navbar .navBtn {
  background: #2AAF44;
  border-radius: 5px;
  color: #fff !important;
  padding-left: 70px !important;
  padding-right: 70px !important;
  margin-left: 30px;
  font-weight: 500;
  width: 268px;
  height: 47px;
  margin-right: 30px;
}

/* ------------Hero Section--------------- */
.hero {
  bottom: -80px;
  position: absolute;
  z-index: 1;
  left: 0px;
  right: 0px;
  margin: auto;
  width: 62%;
}


.heroSection .title {
  width: 992px;
}

.heroSection .title h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 75px;
}

.heroSection .subTitle {
  font-size: 26px;
  line-height: 32.68px;
  text-decoration: none;
  letter-spacing: 0.1em;
}

/* --------------About Section---------------- */
.aboutSection {
  background-image: url("../public/img/about/fullbg.png");
  background-position: top center;
  background-size: cover;
  height: 100vh;
  background: #3c257d;
  overflow: hidden;
}

.aboutSection h3 {
  font-weight: 600;
  font-size: 40px;
  font-size: 60px;
  line-height: 75px;
  text-align: center;
  letter-spacing: 0.005em;
  color: #fff;
}

.aboutSection h3 span {
  display: block;
  font-size: 46px;
  line-height: 60px;
  font-weight: 400;
  width: 64%;
  margin: auto;
}

.aboutImagesContainer {
  position: relative;
  overflow: hidden;
}

.animalPosition {
  position: absolute;
  width: 11%;
}

.p1 {
  right: 0.5%;
  top: 50%;
}

.p2 {
  left: 45%;
  bottom: 0.5%;
}

.p3 {
  left: 26%;
  top: 12%;
}

.p4 {
  left: 58%;
  bottom: 10%;
}

.p5 {
  right: 3%;
  top: 12%;
}

.p6 {
  left: 9%;
  top: 40%;
}

.p7 {
  left: 1%;
  bottom: -2%;
}

.p8 {
  left: 3%;
  top: -6%;
}

.p9 {
  right: 15%;
  bottom: 10%;
}

.p10 {
  left: 1%;
  bottom: 20%;
}

.p11 {
  right: 3%;
  bottom: 5%;
}

.p12 {
  right: 16%;
  top: 10%;
}

.p13 {
  left: 0%;
  top: 10%;
}

.p14 {
  right: 0%;
  top: -2%;
}

.p15 {
  left: 26%;
  bottom: 12%;
}

.aboutImagesContainer .mousemove {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: 1;
}

/* --------------About Section---------------- */
.right_image {
  position: absolute;
  top: 8%;
  right: 0px;
  width: 43%;
}

.infoSection p {
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.005em;
  color: #737373;
}

.section h3 {
  font-weight: 600;
  font-size: 60px;
  line-height: 75px;
  text-align: center;
  letter-spacing: 0.005em;
  color: #fff;
}

.section h3 span {
  display: block;
  font-size: 46px;
  line-height: 60px;
  font-weight: 400;
  width: 64%;
  margin: auto;
}

.rectangles {
  margin-top: 30px;
}

.rectangle p {
  color: #121212;
  margin-bottom: 0px;
  font-size: 35px;
  font-weight: 500;
}

.rectangle {
  border: 1.5px solid #D0D0D0;
  border-radius: 10px;
  padding: 30px 45px;
  margin-top: 15px;
  padding-bottom: 50px;
}

.rectangle h4 {
  font-size: 40px;
  line-height: 48px;
  font-size: 75px;
  line-height: 94px;
  margin-bottom: 0px;
}

/* -----------------Feature section---------------- */
.featureSection {
  background-color: #121212 !important;
}

.featureSection h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.075em;
  margin-bottom: 50px;
  color: #737373;
  margin-top: 4rem;
}

.featureSection h1 {
  margin-top: 25px;
  font-size: 60px;
  line-height: 75px;
  text-align: center;
  letter-spacing: 0.005em;
  color: #fff;
  font-weight: 600;
}

.featureSection p {
  font-size: 28px;
  line-height: 35px;
  letter-spacing: 0.005em;
  text-align: center;
  color: #969696;
  font-weight: 400;
  margin: auto;
}

.featureSection .carousel-item img {
  margin: auto;
  margin-bottom: 17rem;
}

.featureSection .carousel-caption {
  margin-top: 10rem;
}

.featureSection .carousel-indicators button {
  width: 7px;
  height: 7px;
  border-radius: 150px !important;
  border: 0px;
  background-color: rgba(255, 255, 255, 0.1);
}

.featureSection .carousel-indicators button[aria-current="true"] {
  background-color: #fff;
}

/* -------------Scnd Range Section------------- */
.scndSection h3.first {
  color: #1B1B1B;
  margin-top: 3rem;
  margin-bottom: 0;
}

.scndSection span.first {
  display: block;
  font-size: 50px;
  line-height: 1.2;
}

.scndRangeBox {
  border: 1px solid #D0D0D0;
  filter: drop-shadow(10px 10px 50px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
  padding: 20px 40px;
  margin-top: 25px;
}

.scndSection svg {
  width: 18.49px;
}

.scndSection .treats h3 {
  font-size: 75px;
  line-height: 65px;
  color: #121212;
}

.scndSection .treats h3 span {
  font-size: 36px;
  font-weight: 400;
  width: 100%;
  color: #121212;
}

.scndRangeBox .rangeLabel1, .scndRangeBox .rangeLabel2 {
  font-size: 16px;
  font-weight: 600;
  color: #737373;
}

.scndRangeBox .rangeLabel2 {
  display: inline-block;
  margin-top: 2rem;
}

.scndRangeBox2 {
  padding: 20px 55px;
  background: #F2F2F2;
  border-radius: 10px;
  margin-top: 20px;
}

.scndRangeBox2 h1, .scndRangeBox2 p {
  font-size: 26px;
  color: #121212;
  font-weight: 600;
}

.scndRangeBox2 p {
  color: #737373;
  font-weight: 400;
  line-height: 1.2;
}

.scndRangeBox2 p.second a, .scndRangeBox2 p.second a svg {
  color: #2AAF44 !important;
  text-decoration: none;
  fill: #2AAF44;
}


.rangeHandle input {
  width: 100%;
  background-color: #D9D9D9;
  outline: none;
  border-radius: 5px;
  height: 7px;
  z-index: 9;
  position: relative;
}

/*Chrome*/
/* @media screen and (-webkit-min-device-pixel-ratio:0) {
  .rangeHandle input[type='range'] {
    width: 100%;
    overflow: hidden;
    -webkit-appearance: none;
  }
  
  .rangeHandle input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #3D267D;
    margin-top: -1px;
  }
  
  .rangeHandle input[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    cursor: ew-resize;
    background: #2EBA49;
    box-shadow: -80px 0 0 80px #3D267D;
  }
} */

/** FF*/
/* .rangeHandle input[type="range"]::-moz-range-progress {
background-color: #43e5f7; 
}
.rangeHandle input[type="range"]::-moz-range-track {  
background-color: #9a905d;
} */

/* IE*/
/* .rangeHandle input[type="range"]::-ms-fill-lower {
background-color: #43e5f7; 
}
.rangeHandle input[type="range"]::-ms-fill-upper {  
background-color: #9a905d;
} */

.rangeHandle .cnd div {
  position: relative;
  padding-top: 10px;
  text-align: left;
  font-size: 14px;
  color: #343434;
  font-weight: 600;
}

.rangeHandle .cnd div:before {
  content: '';
  position: absolute;
  height: 16px;
  width: 1px;
  background: #dedcdc;
  top: -7px;
  left: 0px;
  right: 0px;
  margin: auto;
}

.rangeHandle .cnd div:first-child:before {
  margin: unset;
  margin-left: 10px;
}